.container {
  height: 95vh;
  display: flex;
  flex-direction: column;
}

.cell {
  border: solid rgb(116, 114, 114) 1px;
  flex-grow: 1;
}

.row {
  display: flex;
  flex-grow: 1;
}

.blue {
  background-color: blue;
}
